* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.contanier {
  height: 600px;
  width: 800px;
}

.input {
  height: 150px;
  background-color: rgba(218, 8, 8, 0.944);
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90px;
}

.title h1 {
  color: azure;
}

.center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.inputList {
  height: 30px;
  width: 450px;
}

.button {
  width: 150px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  margin-bottom: 10px;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li p {
  margin-left: 25px;
}

li button {
  width: 20px;
  border: none;
  cursor: pointer;
}

li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

li.checked::before {
  content: "";
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
